<% provide(:next, "instructions") %>
<% provide(:rb, "Next") %>
<% provide(:visibility, "display") %>

<div class="step" style="width: 810px;">
<h1>Pay attention to the following</h1>

<div class="rule-container">
	<div class="rule">
		<%= image_tag asset_path("click.jpg") %>
		<p>Click on the play button to listen to the question. You will hear each question twice.</p>
	</div>
		<div class="rule">
		<img src="http://testcenter.duolingo.com/images/testcenter/test/sample_icon_video.svg">
		<p>Select "record from webcam" immediately after you hear the question</p>
	</div>
		<div class="rule">
		<img src="http://testcenter.duolingo.com/images/testcenter/test/sample_icon_time.svg">
		<p>You will then have 20 seconds to prepare and 60 seconds to answer</p>
	</div>



</div>
</div>
