<% provide(:next, "checklist") %>
<% provide(:rb, "Start") %>
<% provide(:mseconds, '300000') %>
<% provide(:visibility, "display") %>

<h1>Interview Preparation</h1>
<p>You may now take a five minute break</p>
<%= image_tag asset_path("sillon.jpg"), :class => "bottom" %>
