<% provide(:next, "done") %>
<% provide(:rb, "Next") %>
<% provide(:visibility, "hidden") %>

<h1>Feedback</h1>
<p>How difficult was the interview? Did you need more time to prepare? Did you need more time to answer the questions? Would you be comfortable sharing a recording of your answers to a potential employer?</p>
