<% provide(:next, "done") %>
<% provide(:rb, "Done") %>
<% provide(:visibility, "hidden") %>
<h1>Interview complete!</h1>
<p>Your test is in review.</p>
<br>

<%= image_tag asset_path("shield.png"), :class => "bottom" %>
