<% provide(:next, "one") %>
<% provide(:rb, "Start Test") %>
<% provide(:visibility, "display") %>

<div class="step" style="width: 810px;">
<h1>Pay attention to the following</h1>

<div class="rule-container">
	<div class="rule">
		<img src="http://testcenter.duolingo.com/images/testcenter/test/sample_icon_video.svg">
		<p>Your answers will be recorded and will appear in your certificate</p>
	</div>

	<div class="rule">
		<%= image_tag asset_path("imwatchingyou.jpg") %>
		<p>Do not replay the question and do not wait to record your answer, otherwise the question may be skipped automatically</p>
	</div>

	<div class="rule">
		<img src="http://testcenter.duolingo.com/images/testcenter/test/sample_icon_review.svg">
		<p>There are four questions in this section</p>
	</div>
</div>
</div>
