/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @font-face {
        font-family: "MuseoSansRounded-300.otf";
        src: url('MuseoSansRounded-300.otf') format("truetype");
        font-family: "MuseoSansRounded-300.otf";
        src: url('MuseoSansRounded-300.otf') format("truetype");
    }

body {
	  font-family: "MuseoSansRounded-300";
	  text-align: center;
	  color: #a2a2a2;
	  background-color: #f3f3f3;
}

h1 {
	color: #6d6d6d;
}

.button {
	border-radius: 3px;
	cursor: pointer;
	display: inline-block;
	webkit-font-smoothing: antialiased;
	font-weight: 700;
	text-align: center;
	white-space: nowrap;
	background: #ffc200;
	color: white;
	border: 0px;
	font-size:16px;
	height: 40px;
	min-width: 150px;
	display:block;
}

.container {
	height: 560px;
	width: 900px;
	padding:50px 45px;
	background: white;
	border-radius: 4px;
	margin: 0 auto;
	display: block;
	box-sizing: border-box;
	box-shadow: 0 0 15px #e6e6e6;

}

.carousel-warp {
	box-sizing: border-box;
	overflow: hidden;
	position: relative;
}

section {
	border-radius: 3px 3px 0 0;
	height: 370px;
	display:block;
	outline:none;
	box-sizing: border-box;

}


footer {
	box-sizing: border-box;
	display: block;
	border-radius: 0 0 3px 3px;
	border-top: 3px solid #e6e6e6;
	min-height: 90px;
	padding-top:45px;
	text-align: center;
}

.topbox{

}

.imag {
	width:320px;
	height:240px;
}

.step {
	display: table-cell;
	height: 370px;
	text-align: center;
}

.rule-container {
	display: inline-block;
	margin-top: 30px;
	box-sizing: border-box;
}



.rule{
	display: table-cell;
	position: relative;
	top: -6px;
	padding: 20px;
	width: 230px;
	text-align: center;
	box-sizing: border-box;
}

#disabled {
	background: white;
	border: 3px solid #e6e6e6;
	color: #ccc;
}

#rightbox {
	width:300px;
	float: right;
	height: 250px;
}

#leftbox {
	width:50%;
	float: left;
	height:250px;
}


#right {
	float: right;
}

#left {
	float: left;
}

audio {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
}